<h2>Admin Panel</h2>
<div class="tab-pannel">
    <tabset class="member-tabset">
        <tab heading="User Management" *appHasRol="['Admin']">
            <div class="container">
                <app-user-management></app-user-management>
            </div>
        </tab>
        <tab heading="Photo Management" *appHasRol="['Admin','Moderator']">
            <div class="container">
                <app-photo-management></app-photo-management>
            </div>
        </tab>
    </tabset>
</div>